body{
    
    display: flex;
    margin:0;
    flex-direction: column;
    min-height: 100vh;
    flex: 1;
    background-color: lightblue;
}

a{
    color: black;
    text-decoration: none;
}

img{
    width: 100%;
    float:right;
    height:auto;
    
}

p{
    margin: 0px;
}


.imageContainer{
    margin: 20px;
    width: 25%;
    height: auto;
    overflow:auto;
    overflow-y: hidden;

}

.top{
    display: flex;
    background-color: lightblue;
    flex: 1.5 1 0;
    align-items: center;
    justify-content: left;
    
    
    
}

.MenuCards{
    margin: 10px;
    margin-left: 20%;
    
    
}

.MenuCard{
    font-family: sans-serif;
    font-size: 1em;
    margin: 5px;
    font-weight: 900;
}

.NameHeader{
    font-weight: bolder;
    font-family: serif;
    justify-self: left;
    margin: 10px;
    margin-left: 20px;
    font-size: 5vw;
}

.NameDate{
    font-family: sans-serif;
    margin: 10px;
    margin-left: 20px;
    margin-top: 30px;
    font-weight: 300;
    font-size: 1em;
}

.leftStuff{
    align-self: flex-start;
}

.middle{
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    flex: 7 1 0;
    margin: 0px;
    align-content: center;
    justify-content: center;
}

.funeralDetails{
    margin: 5%;
    
}

.text{
    font-family: sans-serif;
    margin: 10px;
}

.bottom{
    background-color: lightblue;
    min-height: 80px;
    flex: 1 1 0;
}

